* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  font-size: 10px; }
  @media (max-width: 767px) {
    html {
      font-size: 8px; } }
  @media (max-height: 650px) {
    html {
      font-size: 8px; } }

body {
  background-color: white;
  color: black;
  overflow-x: hidden; }

img {
  border: 0; }

button {
  outline: none;
  cursor: pointer;
  background: none;
  border: 0; }

input, select, textarea, button {
  font: inherit; }

@font-face {
  font-family: 'OpenSans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/open-sans-regular.woff2") format("woff2"), url("../fonts/open-sans-regular.woff") format("woff"); }

@font-face {
  font-family: 'OpenSans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/open-sans-bold.woff2") format("woff2"), url("../fonts/open-sans-bold.woff") format("woff"); }

@font-face {
  font-family: 'OpenSans';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/open-sans-italic.woff2") format("woff2"), url("../fonts/open-sans-italic.woff") format("woff"); }

@font-face {
  font-family: 'MuseoSlab';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/museo-slab.woff") format("woff"); }

body {
  font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "MuseoSlab", "Helvetica Neue", Helvetica, Arial, sans-serif; }

main[v-cloak]:before {
  font-family: sans-serif;
  content: 'Loading...';
  color: black;
  font-size: 5rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 1rem; }

main[v-cloak] > * {
  display: none; }

.chat {
  background: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .chat__messages {
    width: 100%;
    min-height: calc(100vh - 5rem  - 7rem);
    max-width: 80rem;
    padding: 3rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none; }
  .chat__message {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    max-width: 80%;
    margin-bottom: 2rem; }
  .chat__message-server {
    background: white; }
  .chat__message-user {
    background: #25feb9;
    -ms-flex-item-align: center;
        align-self: center; }
  .chat__message-client {
    background: #259afe;
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .chat__from {
    display: block;
    font-size: 1.4rem; }
  .chat__from time {
    font-size: 1.2rem;
    color: #666; }

.modal {
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .modal__content {
    background: white;
    width: 95%;
    height: 95%;
    max-width: 80rem;
    max-height: 50rem;
    padding: 1rem;
    border: 1rem solid #259afe;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
    .modal__content > * + * {
      margin-top: 3rem; }
  .modal__title {
    font-size: 3rem; }
  .modal--video .modal__title {
    height: 5rem; }
  .modal--video iframe {
    height: calc(100% - 5rem); }
  .modal--error .modal__content {
    border-color: #fe2525; }

.button {
  background: #259afe;
  color: white;
  padding: 1rem 3rem; }

.score {
  background: #e6e6e6; }
  .score__list {
    width: 100%;
    height: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 80rem;
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    list-style: none; }
  .score li {
    margin: 0 1rem; }
  @media (max-width: 767px) {
    .score__list {
      -ms-flex-pack: distribute;
          justify-content: space-around; }
    .score li {
      margin: 0; } }

.ui__top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem; }

.ui__center {
  margin-top: 5rem;
  margin-bottom: 7rem;
  min-height: 100%; }

.ui__bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7rem; }

.input {
  width: 100%;
  height: 7rem;
  background: white; }
  .input__form input {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background: #e6e6e6;
    border: 0; }
