<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
<!-- _                  _                                             _
    | |                | |                                           | |
    | |     __,        | |   ,_    __,   _  _    _   _  _     _  _   | |
    |/ \   /  |  |   | |/_) /  |  /  |  / |/ |  |/  / |/ |   / |/ |  |/
    |   |_/\_/|_/ \_/|/| \_/   |_/\_/|_/  |  |_/|__/  |  |_/o  |  |_/|__/
                    /|
                    \| -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Facebook tags -->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="http://projects.haykranen.nl/wmts18/">
    <meta property="og:image" content="http://projects.haykranen.nl/wmts18/img/thumb.jpg">
    <meta property="og:site_name" content="Hay Kranen">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@hayify">

    <link rel="stylesheet" href="css/style.css">
    <title>wmts18 &raquo; Hay Kranen</title>
</head>
<body>
<body>
    <main v-cloak>
        <div class="chat">
            <ul class="chat__messages">
                <li v-for="(msg, index) in messages"
                    class="chat__message"
                    v-bind:class="'chat__message-' + msg.source"
                    v-bind:key="index">
                    {{msg.text}}
                </li>
            </ul>

            <form class="chat__input"
                  v-on:submit.prevent="submit">
                <input v-model="input"
                       placeholder="Message here" />
            </form>
        </div>
    </main>

    <script src="bundle.js"></script>
</body>
</html>