.modal {
    background: rgba(255, 255, 255, 0.95);
    position: fixed;
    @include pos(0);
    @include wh(100vw, 100vh);
    overflow: hidden;
    @include flex-center;

    &__content {
        background: white;
        @include wh(95%);
        max-width: 80rem;
        max-height: 50rem;
        padding: 1rem;
        border: 1rem solid $c-3;
        @include flex-center;
        @include child-margins(3rem);
        text-align: center;
    }

    &__title {
        font-size: 3rem;
    }

    &--video &__title {
        height: 5rem;
    }

    &--video iframe {
        height: calc(100% - 5rem);
    }

    &--error &__content {
        border-color: $c-4;
    }
}