.score {
    background: $c-2;

    &__list {
        @include wh(100%, $top-height - 1rem);
        @include margin-center;
        @include flex-center(row);
        max-width: $max-width;
        padding: 1rem;
        background: white;
        border-radius: $border-radius;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        list-style: none;
    }

    li {
        margin: 0 1rem;
    }

    @include respond-until($screen-sm) {
        &__list {
            justify-content: space-around;
        }

        li {
            margin: 0;
        }
    }
}