// Fonts
$font-family-opensans: 'OpenSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-museoslab: 'MuseoSlab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-header: $font-family-museoslab;
$font-text: $font-family-opensans;

$c-1: #25feb9;
$c-2: #e6e6e6;
$c-3: #259afe;
$c-4: #fe2525;
$c-5: #666;

$top-height: 5rem;
$bottom-height: 7rem;
$max-width: 80rem;
$border-radius: 1rem;